/* images */

$html-background-img: url('../img/99.jpg');

/* colors */

$white: #ffffff;
$red: #ff0000;
$purple-main: #552f7d;
$counter-background: rgba(255, 255, 255, 0.7);
$buttons-hover: #4e2c73;
$buttons-active: #3e235c;
$buttons-text-active: #e2daeb;
$background-modal: #d5f2f5;
$gamefield-line: #c9c9c9;
$border-cell-thin: 0.25rem solid #e3e1e1;
$border-cell-mobile: 0.1rem solid #e3e1e1;
$border-cell-wide: 0.5rem solid #e3e1e1;
$shadow-player: 0 0 1rem 1rem #fffdbd;

/* font */

$font-family: 'Comfortaa';

/* mixins */

@mixin warning {
    flex-basis: 100%;
    color: $red;
    padding-top: 0.5rem;
    font-weight: 500;
    font-family: $font-family;
    text-align: center;
}

/* gamefield attributes */
.game {
    @for $i from 3 through 9 {
        .gamefield#{$i} {
            width: 30rem;
            height: 30rem;
            .cell {
                width: (30rem/#{$i});
                height: (30rem/#{$i});
                .picture {
                    width: (28rem/#{$i});
                    height: (28rem/#{$i});
                }
            }
            div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                border-left: $border-cell-wide;
            }
            div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                border-bottom: $border-cell-wide;
            }
        }
    }
    
    @for $i from 10 through 20 {
        .gamefield#{$i} {
            width: 40rem;
            height: 40rem;
            min-width: 40rem;
            .cell {
                width: (40rem/#{$i});
                height: (40rem/#{$i});
                .picture {
                    width: (35rem/#{$i});
                    height: (35rem/#{$i});
                }
            }
            div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                border-left: $border-cell-thin;
            }
            div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                border-bottom: $border-cell-thin;
            }
        }
    }
    
    @for $i from 21 through 40 {
        .gamefield#{$i} {
            border-radius: 2%;
            width: ($i * 2rem);
            height: ($i * 2rem);
            min-width: ($i * 2rem);
            .cell {
                width: 2rem;
                height: 2rem;
                .picture {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }
            div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                border-left: $border-cell-thin;
            }
            div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                border-bottom: $border-cell-thin;
            }
        }
    }

}

div[class^=gamefield] {
    background-color: $white;
    border-radius: 5%;
    margin-top: 2rem;
    border: 1rem solid $purple-main;
    display: flex;
    flex-wrap: wrap;
        .cell {
            box-sizing: border-box;
        }
   }

