@media screen and (min-width:350px) and (max-width: 590px) {
    html {
        font-size: 0.8rem;
        :-ms-input-placeholder {
            font-size: 0.8rem;
        }
    }
    .container {
        .navbar {
            .tab2 {
                flex-basis: 20rem;
                a {
                    text-align: unset;
                    padding-left: 1rem;
                }
            }
            .lang-tab {
                flex-basis: 38%;
            }
        }
        .player-line {
            flex-wrap: wrap;
            .player-container,
            .select-field {
                flex-basis: 100%;
            }
            .game-counter {
                flex-basis: 30%;
                .counter-text {
                    margin: 1rem 0 0 1rem;
                    height: 2rem;
                    width: 7rem;
                    font-size: 1.5rem;
                }
            }
            .start {
                flex-basis: 70%;
                .button-start {
                    margin-left: 3rem;
                }
                .warning {
                    text-align: left;
                    padding-left: 1rem;
                }
            }
            .player-container {
                order: -1;
                .player {
                    margin: 2rem 22%;
                    min-width: 16rem;
                    max-width: 21rem;
                }
            }
            .select-field {
                order: 0;
                .select-text {
                    text-align: center;
                }
                .select-options {
                    margin-left: calc(50% - 2.5rem)
                }
            }
            .start,
            .game-counter {
                order: 1;
            }
        }
        .score-table {
            min-width: 24rem;
            margin-left: calc(50%-12rem)
        }
        .button-start,
        .button-change-name,
        .counter-text {
            font-size: 0.8rem;
        }
    }
    .game {
        @for $i from 3 through 9 {
            .gamefield#{$i} {
                width: 20rem;
                height: 20rem;
                .cell {
                    width: (20rem/#{$i});
                    height: (20rem/#{$i});
                    .picture {
                        width: (18rem/#{$i});
                        height: (18rem/#{$i});
                    }
                }
                div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                    border-left: $border-cell-thin;
                }
                div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                    border-bottom: $border-cell-thin;
                }
            }
        }
        @for $i from 10 through 20 {
            .gamefield#{$i} {
                width: 25rem;
                height: 25rem;
                .cell {
                    width: (25rem/#{$i});
                    height: (25rem/#{$i});
                    .picture {
                        width: (20rem/#{$i});
                        height: (20rem/#{$i});
                    }
                }
                div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                    border-left: $border-cell-mobile;
                }
                div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                    border-bottom: $border-cell-mobile;
                }
            }
        }
        @for $i from 21 through 40 {
            .gamefield#{$i} {
                border-radius: 2%;
                width: ($i * 1.5rem);
                height: ($i * 1.5rem);
                min-width: ($i * 1.5rem);
                .cell {
                    width: 1.5rem;
                    height: 1.5rem;
                    .picture {
                        width: 1.3rem;
                        height: 1.3rem;
                    }
                }
                div:nth-child(n):not(:nth-child(#{$i}n+1)) {
                    border-left: $border-cell-mobile;
                }
                div:nth-child(n):nth-child(-n+#{$i * $i - $i}) {
                    border-bottom: $border-cell-mobile;
                }
            }
            ::placeholder {
                font-size: 0.8rem;
            }
        }
    }
}
