@import 'attributes.scss';

html {
    height: 100%;
    background-image: $html-background-img;
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        .root {
            height: 100%;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .score-table {
        margin-top: 5rem;
        background-color: $white;
        min-height: 25rem;
        min-width: 30rem;
        border-radius: 15%;
        border: 1rem solid $purple-main;
        height: auto;
        .row {
            font-size: 1.5rem;
            padding-left: 10rem;
            font-family: $font-family;
        }
    }

    .navbar {
        flex-basis: 100%;
        background-color: $purple-main;
        display: flex;
        .tab {
            a {
                color: $white;
                text-decoration: none;
                text-align: center;
                padding-left: 1rem;
                height: 2rem;
                width: auto;
                min-width: 7rem;
                padding-top: 0.6rem;
                display: block;
                font-family: $font-family;
            }
        }

        .tab1 {
            flex-basis: 9%;
        }

        .tab2 {
            flex-basis: 18%;
        }

        .tab.active {
            background-image: $html-background-img;
        }

        .empty {
            flex-basis: 72%;
        }

        .lang-tab {
            display: flex;
            justify-content: flex-end;
            .lang {
                color: $white;
                text-align: center;
                padding-top: 0.6rem;
                margin-right: 1rem;
                a {
                    cursor: pointer;
                    font-family: $font-family;
                }
            }
        }
    }

    .game {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-around;
        .game-counter {
            flex-basis: 33%;
            .counter-text {
                font-family: $font-family;
                margin: 1rem 0 0 14rem;
                padding-left: 0.4rem;
                padding-top: 0.4rem;
                width: 8rem;
                font-size: 2rem;
                background-color: $counter-background;
                border-radius: 0.4rem;
                color: $purple-main;
                height: 3rem;
                text-align: center;
                box-shadow: 0 0 0.5rem;
            }
        }

        .start {
            height: 4.5rem;
            flex-basis: 67%;
            .warning {
                flex-basis: 100%;
                color: $red;
                padding-left: 9.1rem;
                padding-top: 0.5rem;
                font-weight: 500;
                font-family: $font-family;
            }
            .button-start {
                margin-left: 11rem;
                margin-top: 1rem;
                height: 2rem;
                width: 5rem;
                text-transform: uppercase;
                color: $white;
                background: $purple-main;
                font-family: $font-family;
                border-radius: 10%;
                border: none;
            }
        }

        .player {
            background-color: $counter-background;
            border-radius: 5%;
            border: 0.2rem solid $purple-main;
            margin-top: 7rem;
            flex-basis: 19%;
            display: flex;
            flex-wrap: wrap;
            color: $purple-main;
            font-size: 1.5rem;
            height: 10rem;
            justify-content: center;
            .player-title {
                flex-basis: 60%;
                font-family: $font-family;
                margin-bottom: 0;
            }
            .player-name {
                flex-basis: 60%;
                font-family: $font-family;
            }
            .input-player-name {
                height: 2rem;
                width: 10rem;
                outline: 3px solid $purple-main;
                padding-left: 0.5rem;
                margin-left: 1rem;
            }
            .button {
                width: 3rem;
                height: 2.6rem;
                font-family: $font-family;
                margin-left: 0.2rem;
                background-color: $purple-main;
                color: $white;
                border: none;
                border-radius: 10%;
            }
    }
    .player.active {
        box-shadow: $shadow-player;
    }

        .gamefield {
            width: 30rem;
            height: 30rem;
            background-color: $white;
            border-radius: 15%;
            margin-top: 2rem;
            border: 1rem solid $purple-main;
            display: flex;
            flex-wrap: wrap;
            .cell {
                width: 10rem;
                height: 10rem;
                box-sizing: border-box;
                .picture {
                    width: 10rem;
                    height: 9rem;
                    margin-top: 1rem;
                }
            }
            .cell1,
            .cell2 {
                border-right: $border-cell;
                border-bottom: $border-cell;
            }
            .cell3 {
                border-bottom: $border-cell;
            }
            .cell7,
            .cell8 {
                border-top: $border-cell;
                border-right: $border-cell;
            }
            .cell9 {
                border-top: $border-cell;
            }
            .cell4,
            .cell5 {
                border-right: $border-cell;
            }
        }
        .line1::before {
            @include line;
            width: 30rem;
            height: 1rem;        
            top: 15rem;
        }
        .line2::before {
            @include line;
            width: 30rem;
            height: 1rem;        
            top: 25rem;
        }
        .line3::before {
            @include line;
            width: 30rem;
            height: 1rem;        
            top: 35rem;
        }
        .line4::before {
            @include line;
            top: 10.1rem;
            left: 32rem;
        }
        .line5::before {
            @include line;
            top: 10.1rem;
            left: 42rem;
        }
        .line6::before {
            @include line;
            top: 10.1rem;
            left: 52rem;
        }
        .line7::before {
            @include line;
            height: 38rem;
            top: 6rem;
            left: 42rem;
            @include rotate-line7;
        }
        .line8::before {
            @include line;
            height: 38rem;
            top: 6rem;
            left: 42rem;
            @include rotate-line8;
        }
        .best-players {
            flex-basis: 60%;
        }
    }
}

::placeholder {
    font-family: $font-family;
}

:-ms-input-placeholder {
    font-family: $font-family;
}

.button:hover,
.button-start:hover,
.button-modal:hover {
    background-color: $buttons-hover;
}

.button:active,
.button-start:active,
.button-modal:active {
    color: $buttons-text-active;
    background-color: $buttons-active;
}

.modal-title {
    height: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: $purple-main;
    color: $white;
    font-family: $font-family;
}

.modal-content {
    height: 170px;
    background-color: $background-modal;
    .modal-text {
        color: $purple-main;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        padding-top: 2rem;
        font-family: $font-family;
    }
    .button-modal {
        width: 4rem;
        height: 2rem;
        margin: 3rem 7.5rem 1rem 7.5rem;
        background-color: $purple-main;
        color: $white;
        font-family: $font-family;
        border: none;
        border-radius: 11%;
        font-family: $font-family;
    }
}